[inside="uccontrols/controls/linearlist.uc"] {
    [SELF_] {
        width: max-content;
        height: max-content;
        display: inline-block;
        position: absolute;
        overflow: auto;
        background-color: white;
        border: solid 0px rgb(100, 30, 2);

        box-sizing: border-box;
        visibility: collapse;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    [SELF_][dir="bottom"] {
        transform-origin: top;
        border-bottom-width: 3px;
        border-left-width: 1px;
        border-right-width: 1px;
        animation-name: slide_to_bottom;
    }

    [SELF_][dir="top"] {
        transform-origin: bottom;
        border-top-width: 3px;
        border-left-width: 1px;
        border-right-width: 1px;
        animation-name: slide_to_top;
    }

    [SELF_][dir="right"] {
        animation-name: slide_to_right;
    }

    [SELF_][dir="left"] {
        animation-name: slide_to_left;
    }

    @keyframes slide_to_bottom {
        from {
            transform: rotateX(90deg);
        }
    }

    @keyframes slide_to_top {
        from {
            transform: rotateX(90deg);
        }
    }

    @keyframes slide_to_right {
        from {
            transform: rotateX(90deg);
        }
    }

    @keyframes slide_to_left {
        from {
            transform: rotateX(90deg);
        }
    }
}