[SELF_]{
    width: 100%;
    display:block;
    background-color: white;
    border-bottom:solid 1px black;
    padding-left: 4px;
    box-sizing: border-box;
}
[SELF_]:hover{
    background-color: lightcyan;
    border-color: cyan;
}
[SELF_][is-current="1"]{
    background-color:yellow;
}