
 drop[dir],
 indicator[dir]{
    position: absolute;      
    visibility: hidden; 
    display: block;
}   
 indicator[dir]{
    background-color:rgba(186, 190, 185, 0.5);
    border: solid 1px navajowhite;
}

 drop{
    background-color: rgba(21, 219, 203, 0.651);
    border: dashed 1px black;
}
/*
 indicator { z-index:1; }
 drop { z-index:5; }
*/

 drop[dir="left"]{
    left: 0%; top: 0px; width: 20px; max-width: 20%; height: 100%;
}
 drop[dir="center"]{
    /*left: 20%; top: 20%; width: 60%; height: 60%;*/
    left: 0px; top: 0px; width: 0px; height: 0px;
}
 drop[dir="right"]{
    right: 0px; top: 0%; width: 20px; max-width: 20%; height: 100%;
}
 drop[dir="top"]{
    left: 20px; top: 0px; right: 20px; height: 20px; max-height: 20%;
}
 drop[dir="bottom"]{
    left: 20px;  bottom: 0px;  right: 20px; height: 20px; max-height: 20%;
}


 indicator[dir="left"]{
    left: 0%; top: 0%; width: 50%; height: 100%;
}
 indicator[dir="center"]{
    left: 0%; top: 0%; width: 100%; height: 100%;
}
 indicator[dir="right"]{
    left: 50%; top: 0%; width: 50%; height: 100%;
}
 indicator[dir="top"]{
    left: 0%; top: 0%; width: 100%; height: 50%;
}
 indicator[dir="bottom"]{
    left: 0%; top: 50%; width: 100%; height: 50%;
}
 indicator[dir="none"]{
    left: 0%; top: 0%; width: 0%; height: 0%;
}
