:exclude {
    resizer,
    corner {
        background-color: transparent;
        padding: 1px;
        position: absolute;
        z-index: 0;

    }
    corner {
        padding: 5px;
    }
    resizer[role="drawSelection"] { 
        border: dashed 2px rgb(0, 0, 0);
        border-radius: 5px;
        background-color: rgba(255, 255, 0, 0.50);
        z-index: 4;    display: none;
    }
    
    resizer[role="left"] {
        top: 0px;
        left: 0px;
        bottom: 0px;
        cursor: e-resize
    }

    resizer[role="top"] {
        left: 0px;
        right: 0px;
        top: 0px;
        cursor: n-resize;
    }

    resizer[role="right"] {
        top: 0px;
        right: 0px;
        bottom: 0px;
        cursor: e-resize;
    }

    resizer[role="bottom"] {
        left: 0px;
        right: 0px;
        bottom: 0px;
        cursor: n-resize;
    }



    corner[role="topleft"] {
        left: 0px;
        top: 0px;
        cursor: nw-resize;
    }

    corner[role="topright"] {
        top: 0px;
        right: 0px;
        cursor: ne-resize;
    }

    corner[role="bottomleft"] {
        bottom: 0px;
        left: 0px;
        cursor: ne-resize;
    }

    corner[role="bottomright"] {
        bottom: 0px;
        right: 0px;
        cursor: nw-resize;
    }
}