
[SELF_][drag-here="ok"] container{
   border-style: solid;
   background-color: silver;
   color: black;
}


 drop[dir],
 indicator[dir]{
    position: absolute;      
    visibility: hidden; 
    display: block;
}   
 indicator[dir]{
    background-color:transparent;
    border-right: dashed 2px black;
    width: 1px; top: 0px; bottom: 0px;
}


drop[dir]{ 
    top: 0%; height: 100%; width: 100%; 
}

drop[dir="left"]{
    left: 0px; 
}
 

indicator[dir="left"]{
    left: 0px;
}

indicator[dir="none"]{
    left: 0%; top: 0%; width: 0%; height: 0%;
}
