[theme="@uccontrols:/controls/comboBox.uc.dropdownlist.scss"]
[SELF_] {
    width: inherit;
    height: auto;
    display: block;
    box-sizing: border-box;
    background-color: white;
}

container {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: auto max-content;
    box-sizing: border-box;
    position: relative;
}

editor {
    width: inherit;
    height: inherit;
}

dropbtn {
    display: block;
    right: 0px;
    height: 100%;
    position: relative;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

dropbtn[isopened="false"] {
    background-image: url(@uccontrols:/controls/comboBox/downArrow.png);
}

dropbtn[isopened="false"]:hover {
    background-image: url(@uccontrols:/controls/comboBox/downArrow-hover.png);
}

dropbtn[isopened="true"] {
    background-image: url(@uccontrols:/controls/comboBox/upArrow.png);
}

dropbtn[isopened="true"]:hover {
    background-image: url(@uccontrols:/controls/comboBox/upArrow-hover.png);
}