[SELF_] {
    width: inherit;
    height: inherit;
    display: block;
    background-color: white;
    border: solid 1px black;
}
trans-hover{
    position: absolute; display: block;
}
trans-hover resizer[role="top"]{
    
}
trans-hover[role="vertical"]{
    background-color: rgba(137, 43, 226, 0.250);
   
}
trans-hover[role="horizontal"]{
    background-color: rgba(205, 50, 159, 0.2);
}
container{
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-rows: max-content auto max-content;
}
header, detail, footer {
    display: block; position: relative;  box-sizing: border-box;
}
detail{   overflow: auto;    }
tbl { 
    width: 100%; height: 100%; box-sizing: border-box;
    display: block; table-layout: fixed;
}
row { display: grid; grid-template-columns: var(--winfo); }
cell {
    display: block; overflow: hidden; white-space: nowrap;
    height: fit-content; box-sizing: border-box; 
   
    outline: solid 1px burlywood;    
    min-height: 100%;
}
