@import "uccontrols/controls/common/resizer.scss";

&{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
   
    box-sizing: border-box;
}
&[win-state="normal"] {
    box-shadow: 3px 3px 10px black;
    background: transparent;
}
&[win-state="dock"] {
    box-shadow: none;
    background: transparent;
}
&[win-state="dock"] > mainContainer > header{
   visibility: collapse;
   height: 0px;
}
&[win-state="dock"] > mainContainer{
    border: none;
 }
mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    border: solid 1px black;
    grid-template-rows: max-content auto;
    
}
title-bar {
    cursor: move;
    background: rgba(0,0,0,0.5);
    display: block;
}

&:focus-within title-text& {
    background-color: black;
    color: whitesmoke;
}
title-bar title-text {
    background-color:rgb(59, 164, 224); 
    color:black;
    font-weight: normal;
     /*font-family:Arial;*/
    font-size:small!important;
    border-radius:0px 2px 12px 0px; 
    padding-left: 8px;
    padding-right: 20px;
}
header{
    display: grid;
    background-color: black;
    grid-template-columns: max-content auto max-content;
}
header icon{
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-size: contain;
}
header icon[role="close"]{
    background-image: url(uccontrols/controls/resources/close.png);
}
header icon[role="close"]:hover{
    background-image: url(uccontrols/controls/resources/close-hover.png);
}
header icon[role="drag"]{
    float: left;
    cursor: grab;
    background-size: contain;
    background-image: url(uccontrols/controls/resources/drag16.png);   
}
header icon[role="drag"]:hover{
    background-image: url(uccontrols/controls/resources/drag16-hover.png);   
}


container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border-top: none;
    box-sizing: border-box;
    
}

/*resizer:hover{
    border-color:cyan!important;
}*/

/*corner:hover{
    border-color:yellow!important;
}*/
resizer {
    border: solid 2px transparent !important;
    padding: 0px !important;
}

corner {
    border: solid 2px transparent !important;
    position: absolute;
    margin: -8px; border-radius: 8px;
}

resizer[role="drawSelection"] {
    border: dashed 2px rgb(0, 0, 0)!important;
    border-radius: 5px;
    background-color: rgba(195, 0, 255, 0.281);
    display: none;
    box-sizing: border-box;
    z-index: 4;
}