& {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

grid {
    /*border: solid 2px black;*/
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    display: grid;
    /*grid-template-columns: auto auto auto;*/
}

node {
    display: block;
    position: relative;
    /*border: solid 2px yellow;*/
}
view{
    display: block;
    position: absolute; width: 100%; height: 100%;
}
view& > * {
    width: 100%!important;
    height: 100%!important;    
    display: block!important;
    position: relative!important;
}

resizer[role="left"]{
    width: 2px;
    background-color: transparent;
    border-left: solid 1px black;
}
resizer[role="left"]:hover{
    width: 5px;
    background-image:linear-gradient(90deg,black,transparent);
}

resizer[role="top"]{
    height: 2px;
    background-color: transparent;
    border-left: solid 1px black;
}
resizer[role="top"]:hover{
    height: 5px;
    background-image:linear-gradient(180deg,black,transparent);
}

resizer[role="drawSelection"] {
    border: dashed 2px rgb(0, 0, 0)!important;
    border-radius: 5px;
    background-color: rgba(255, 0, 149, 0.281);
    display: block;
    box-sizing: border-box;
    z-index: 4;
}