

 drop[dir],
 indicator[dir]{
    position: absolute;      
    visibility: hidden; 
    display: block;
}   
 indicator[dir]{
    background-color:rgba(186, 190, 185, 0.5);
    border: solid 1px navajowhite;
}



drop[dir="left"]{
    left: 0%; top: 0px; width: 10px; max-width: 10%; height: 100%;
    background-image: linear-gradient(90deg,grey,transparent);
}
 
 drop[dir="right"]{
    right: 0px; top: 0%; width: 10px; max-width: 10%; height: 100%;
    background-image: linear-gradient(270deg,grey,transparent);
}
 drop[dir="top"]{
    left: 0px; top: 0px; right: 0px; height: 10px; max-height: 10%;
    background-image: linear-gradient(180deg,grey,transparent);
}
 drop[dir="bottom"]{
    left: 0px;  bottom: 0px;  right: 0px; height: 10px; max-height: 10%;
    background-image: linear-gradient(0deg,grey,transparent);
}


 indicator[dir="left"]{
    left: 0%; top: 0%; width: 50%; height: 100%;
}
 indicator[dir="center"]{
    left: 0%; top: 0%; width: 100%; height: 100%;
}
 indicator[dir="right"]{
    left: 50%; top: 0%; width: 50%; height: 100%;
}
 indicator[dir="top"]{
    left: 0%; top: 0%; width: 100%; height: 50%;
}
 indicator[dir="bottom"]{
    left: 0%; top: 50%; width: 100%; height: 50%;
}
 indicator[dir="none"]{
    left: 0%; top: 0%; width: 0%; height: 0%;
}
