@import "uccontrols/controls/tabControl.uc.drag.css";
& {
    width: 100%;
    height: 100%;
    display: flex;
}

CONTAINER {
    
    display: grid;
    height: inherit;
    width: inherit;
    position: relative;
    grid-template-rows: max-content auto;
}
hcontainer{
    display: block;
    position: inherit;
    overflow-x:auto;
    white-space: nowrap;
    padding-left: 5px;
    background-color: white;
}
header {
    display: block;
    position: inherit;
    box-sizing: border-box;
}backface{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px black;
}
hcontainer::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
   
}

hcontainer::-webkit-scrollbar-track {
    background-color:white;
    
}
hcontainer::-webkit-scrollbar-track:hover{
    background-color: navy;
}
hcontainer::-webkit-scrollbar-thumb {
    border:solid 1px transparent;
}hcontainer::-webkit-scrollbar-thumb:hover{
    border-color: greenyellow;
}
view {
    background-color: white;
    box-sizing: border-box;
    position: inherit;
    height: inherit;
    width: inherit;
}